@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');

*{
    margin: 0;
    padding: 0; 
}

body{
    height: 100vh;
    width: 100vw; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(213, 211, 211);
    color: rgb(0, 68, 171);
}

.container{
    background-size:auto;
    height: 70vmin;
    width: 80vmin;
    font-family: 'Poppins', sans-serif;
    padding: 0.5em;
    box-shadow: 0px 0px 1.4em rgb(0, 0, 0);
    border: 0;
}

#headInvite{
    font-family: 'Inter', sans-serif;
    height: 1.9em;
    width: 17em;
    min-width: 5.5em;
    max-width: 18em;
    min-height: 1.7em;
    max-height: 2.8em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-80%,-350%);
    padding: 0.08em 0.05em 0.1em 0.05em;
    font-size: 2.5vmin;
    font-weight: 300;
    overflow-y: hidden;
    background-color:rgba(240, 248, 255, 0);
    color: rgb(255, 255, 255);
    border-radius: 0.1em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 0; 
    
}

#nameInvite{
    font-family: 'Allura', cursive;
    position: absolute;
    height: 1.7em;
    width: 8.1em;
    min-width: 7em;
    max-width: 9.5em;
    min-height: 1.2em;
    max-height: 3em;
    top: 50%;
    left: 50%;
    transform: translate(-48%,-45%);
    font-size: 8vmin;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(253, 248, 245);
    overflow: hidden;
    border: 0;
    z-index: 1;
    line-height: 100%;
    padding: 0.2em;
}

#footInvite{
    font-family: 'Inter', sans-serif;
    height: 1.9em;
    width: 17em;
    min-width: 5.5em;
    max-width: 18em;
    min-height: 1.7em;
    max-height: 4.3em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-20%,190%);
    padding: 0.08em 0.05em 0.1em 0.05em;
    font-size: 2.5vmin;
    font-weight: 300;
    text-shadow: 0 0 1px black;
    overflow-y: hidden;
    background-color:rgba(240, 248, 255, 0);
    color: rgb(255, 255, 255);
    border-radius: 0.1em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 0; 
}

.nameHolder{
    max-width: 33vmin;
}

#name{
    height: 1.2em;
    max-height: 3em;
    max-width: 95%;
    /* background-color: aqua; */
    font-family: 'Allura', cursive;
    /* font-weight:initial; */
    font-size:7vmin;
    font-weight: 900;
    background-color: rgba(218, 218, 219, 0);
    border: 0;
    color: rgb(24, 47, 176);
    text-shadow: 1px 0.3px 0.05em black;
    padding: 0.05em;
    overflow: hidden;
}

#date{
    font-family: 'Poppins', sans-serif;
    height: 2em;
    width: 10em;
    max-height: 3em;
    max-width: 95%;
    color: rgb(24, 47, 176);
    background-color: rgba(218, 218, 219, 0);
    overflow: hidden;
    font-weight: 700;
    margin-top: 0.5em;
    border: 0;
    padding: 0.2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    min-height: 10vmin;
    min-width: 80vmin;
    max-width: 80vmin;
    top: 50%;
    transform: translate(1.7%,230%);
    position: absolute;
    font-size: 2.5vmin;
    color: rgb(3, 28, 169);
    background-color: rgba(41, 225, 250, 0.752);
    opacity: 0.85;
    /* color: rgb(0, 68, 171); */
    display: flex;
    justify-content: center;
    align-items: center;
}

