@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    margin: 0;
    padding: 0; 
}

.Btemp1{
    height: 83.5vh;
    /* width: 35em; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-size:auto;
    height: 70vmin;
    width: 80vmin;
    font-family: 'Poppins', sans-serif;
    padding: 0.5em;
    box-shadow: 0px 0px 20px rgb(1, 18, 71);
}

.textContainer{
    /* max-width: 18%; */
    max-height: fit-content;
    font-size: 1.8vmin;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(25%,-30%);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(190, 190, 190, 0);
}

.nameHolder{
    max-width: 33vmin;
    background-color: rgba(250, 235, 215, 0);
}

#bdayWish{
    font-size: 7vmin;
    font-family: 'Allura', cursive;
    font-weight: 900;
    background-color: rgba(240, 248, 255, 0);
    line-height:135%;
    text-shadow: 0 0 1px black;
    color: rgb(24, 47, 176);

}

.dateHolder{
    max-width: 20vmin;
    background-color: rgba(240, 248, 255, 0);

}

#name{
    height: 1.2em;
    max-height: 3em;
    max-width: 95%;
    min-height: 1em;
    max-height: 2.5em;
    font-size:7vmin;
}

#date{
    font-size: 2.5vmin;
    max-height: 1.2em;
    max-width: 7.5em;   
}

#emptyDiv{
    height: 40%;
    width: 50%;
}

footer{
    min-height: 10vmin;
    max-height: 10vmin;
    min-width: 80vmin;
    max-width: 80vmin;
    top: 50%;
    /* left: 50%; */
    transform: translate(0%,360%);
    position: absolute;
    font-size: 2.5vmin;
    color: rgb(3, 28, 169);
    background-color: rgba(41, 225, 250, 0.8);
    opacity: 0.85;
    /* color: rgb(0, 68, 171); */
    display: flex;
    justify-content: center;
    align-items: center;
}

#location{
    height: 1em;
    min-height: 10.48vmin;
    /* max-height: ; */
    height: 2em;
    width: 10em;
    max-height: 3em;
    min-width: 80vmin;
    max-width: 82vmin;
    font-family: 'Poppins', sans-serif;
    font-size: 3.5vmin;
    font-weight: 700;
    color: rgb(3, 28, 169);
    background-color: rgba(41, 225, 250, 0.752);
    opacity: 0.85;
    border: 0;
    overflow: hidden;
    text-align: center;
}

@media screen and (max-width: 1000px) {
    footer{
        transform: translate(0,355%);
    }
}

@media screen and (max-width: 500px) {
    .textContainer{
        transform: translate(25%,-20%);
    }
    footer{
        transform: translate(0,370%)
    }
}
@media screen and (max-width: 450px) {
    footer{
        transform: translate(0,380%)
    }
}

@media screen and (max-width: 400px) {
    footer{
        transform: translate(0,400%)
    }
}

@media screen and (max-width: 376px) {
    footer{
        transform: translate(0,410%)
    }
}

@media screen and (max-width: 281px) {
    .textContainer{
        transform: translate(25%,-2%);
    }

    footer{
        transform: translate(0,463%)
    }
}


